.form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  font-size: calc(10px + 0.5vh);
  height: calc(100% + 10px);

  .form-row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 20px;
  }

  .form-input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    outline: 0;
  }

  .form-input:focus {
    background-color: rgba(245, 243, 243, 0.5);
  }

  .form-button {
    padding: 0 30px;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 0 5px 5px 0;
    outline: 0;
    cursor: pointer;
  }

  .form-button:hover {
    background-color: rgba(0, 0, 0, .8);
  }

  .form-message {
    width: 100%;
    padding: 0 20px;
    height: calc(100% - 70px);
    max-height: calc(100% - 70px);
    overflow-y: scroll;
  }
}
